#result {
  display: none;
  background-color: #eb1c23;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.output{
  padding-top: 50px;
}

 .instruct {
   background: rgba(253, 255, 250);
   background:rgba(253, 255, 250, 0.9);

 }
.form-group{
  text-align: center;
  background: rgba(253, 255, 250);
  background:rgba(253, 255, 250, 0.9);
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.btn {

}

body {
  background-image: url(../img/uberpong.jpg);
  background-size: 530px 530px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}
p {
font-size: 20px;
color: white;
font-weight: bold;
}
.ping-pong-output {
color: #21B660;
font-weight: bolder;
font-size: 40px;
}

.ping-output {
color: blue;
font-weight: bolder;
font-size: 30px;
}

.pong-output {
color: yellow;
font-weight: bolder;
font-size: 30px;
}
