#result {
  display: none;
  background-color: #eb1c23;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.output{
  padding-top: 30px;
  padding-bottom: 15px;
}

 .instruct {
   background: rgba(253, 255, 250);
   background:rgba(253, 255, 250, 0.9);

 }
.form-group{
  text-align: center;
  background: rgba(253, 255, 250);
  background:rgba(253, 255, 250, 0.9);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
background-color: white;
font-size: 20px;
font-weight: bold;
border-color: blue;
border-width: 5px;
border-style: solid;
}

label {
  font-size: 30px;
  font-weight: bold;
  width: 300px;
  text-align: center;
}

#number-input {
background-color: white;
height: 50px;
font-size: 30px;
margin-left: 50px;
margin-right: 50px;
width: 200px;
text-align: center;
font-weight: bold;
border-color: blue;
border-width: 3px;
border-style: solid;
}

body {
  background-image: url(../img/uberpong.jpg);
  background-size: 530px 530px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}
p {
font-size: 20px;
color: white;
font-weight: bold;
}
.ping-pong-output {
color: #21B660;
font-weight: bolder;
font-size: 40px;
}

.ping-output {
color: blue;
font-weight: bolder;
font-size: 30px;
}

.pong-output {
color: yellow;
font-weight: bolder;
font-size: 30px;
}
